:root {
    --font-primary: "Cinzel", serif;
    --font-secondary: "Roboto", sans-serif;

    --color-primary: #e3a14c;
    --color-primary-opacity50: #e3a24cd2;
    --color-secondary: #252323;
    --color-secondary-opacity50: #252323af;
    --color-white: #eceae7;
    --color-white-opacity50: #eceae7ce;
    --color-grey: #6b6c6b;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* GLOBALES */
body {
    font-size: 1.8rem;
    font-family: var(--font-primary);
    color: var(--color-secondary);
}
.body {
    background-attachment: fixed;
    background-image: url(../assets/img/bgIndex.jpg);
    background-repeat: no-repeat;
    background-position: 50%;
}

img {
    height: unset;
    width: unset;
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    color: unset;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 3.6rem;
}
h3 {
    font-size: 3.2rem;
}
h4 {
    font-size: 2rem;
}
li {
    list-style: none;
}
.container {
    max-width: 140rem;
    margin: 0 auto;
}
.active {
    border-bottom: var(--color-primary) solid 3px;
}
@media (max-width: 500px) {
    .active {
        border-bottom: unset;
        background-color: #e3a14c;
    }
}
.btn {
    background: unset;
    cursor: pointer;
    border: unset;
    text-align: center;
}
/* HEADER */

.head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-white);
    box-shadow: var(--color-grey) 1rem 0 1rem;
    transition: transform 0.5s ease-in-out 0s;
    padding: 0.5rem 2rem;
    z-index: 1;
}
.head__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.head__logo {
    max-width: 15rem;
}
.navigation {
    width: 30rem;
}
.navigation__bar {
    display: flex;
    justify-content: space-around;
}
.navigation__link {
    text-align: center;
    color: var(--color-secondary);
    font-size: 2rem;
    font-weight: 700;
}
.navigation__link:hover {
    transition: border 0.1s ease-in 0s;
    border-bottom: var(--color-primary) solid 3px;
}
.navigation__menu {
    display: none;
}
@media (max-width: 500px) {
    .navigation {
        display: none;
    }
    .navigation__menu {
        display: unset;
    }
}
.navigation__overlay {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    background-color: var(--color-secondary-opacity50);
    z-index: 2;
}
.navigation__side {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: var(--color-white);
    width: 70%;
    border-right: var(--color-grey) solid 2px;
    /* box-shadow: 3rem 0rem 5rem var(--color-secondary); */
    transition: transform 0.3s ease-in-out 0s;
}
.navigation__bar-side {
    margin: 1rem auto;
    flex-direction: column;
}
.navigation__link-side {
    padding: 1rem 2rem;
    display: flex;
    gap: 1rem;
    align-items: center;
}
.navigation__link-side:hover {
    border: unset;
    background-color: #25232327;
}

/* HERO */
.hero {
    min-height: 100vh;
}
.hero__content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-top: 6rem;
    padding-bottom: 2rem;
}

.hero__box {
    width: 80%;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(transparent 70%, var(--color-primary-opacity50) 0% 70%) left bottom/80% 250%;
    background-repeat: no-repeat;
}
.hero__boxTitle {
    width: 50%;
}
.hero__img {
    width: 40%;
}

@media (max-width: 1000px) {
    .hero__box {
        width: 95%;
    }
}
@media (max-width: 768px) {
    .hero__content {
        height: auto;
    }
    .hero__box {
        flex-direction: column-reverse;
        background: linear-gradient(transparent 70%, var(--color-primary-opacity50) 0% 100%) left bottom/100% 250%;
    }
    .hero__boxTitle {
        text-align: center;
        width: 100%;
    }
    .hero__img {
        width: 50%;
    }
}
@media (max-width: 500px) {
    .hero__img {
        width: 80%;
    }
}
/* ABOUT */
.about {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-secondary-opacity50);
}
.about__info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-secondary);
    color: var(--color-white);
    padding: 2rem;
    text-align: center;
    line-height: 1.6;
}
.about__info p {
    font-family: var(--font-secondary);
    text-align: left;
    padding: 1rem;
}
.btn-about {
    border: solid var(--color-secondary) 2px;
    border-radius: 2.5rem;
    padding: 1rem;
    font-size: 2rem;
    font-weight: 900;
    color: var(--color-secondary);
}
.btn-about:hover {
    background-color: var(--color-secondary);
    color: var(--color-primary);
}
.btn-closeAbout {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 4rem;
    height: 4rem;
    font-size: 3rem;
    font-family: var(--font-secondary);
    font-weight: 400;
    color: var(--color-secondary);
    background: var(--color-white-opacity50);
    border-radius: 50%;
}
@media (max-width: 768px) {
    .about__info {
        width: 95%;
    }
    .about__info p {
        width: unset;
        text-align: center;
        float: unset;
    }
}

/* PRESENTATION*/
.presentation {
    background-color: var(--color-white);
}
.presentation__content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    min-height: 45rem;
}

.presentation__boxImg {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    padding: 0 0 2rem 2rem;
    background: linear-gradient(transparent, var(--color-primary) 0% 70%) left bottom/90% 90%;
    background-repeat: no-repeat;
}
.presentation__info {
    width: 50%;
    display: grid;
    place-content: center;
    text-align: center;
}
@media (max-width: 768px) {
    .presentation__content {
        flex-direction: column-reverse;
        align-items: center;

        padding: 2rem 0 2rem 0;
    }
    .presentation__boxImg {
        width: 70%;
    }
    .presentation__info {
        width: 80%;
    }
}

/*  ACHIEVE*/
.achieve {
    background-color: var(--color-secondary-opacity50);
}
.achieve__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: var(--color-white);
    flex-wrap: wrap;
    padding: 3rem 0;
}
.achieve__info {
    text-align: center;
    line-height: 2.6;
    width: 30%;
    height: 80%;
    padding: 2rem 1rem;
}
.achieve__info:nth-child(2) {
    border-left: var(--color-white) solid 3px;
    border-right: var(--color-white) solid 3px;
}
.achieve__title {
    text-align: center;
    padding: 2rem 0;
}
.achieve__text {
    font-size: 2.4rem;
}

@media (max-width: 768px) {
    .achieve__info {
        width: 50%;
    }
    .achieve__info:nth-child(3) {
        border: unset;
    }
    .achieve__title {
        font-size: 2.4rem;
    }
    .achieve__text {
        font-size: 1.8rem;
    }
}
@media (max-width: 500px) {
    .achieve__info {
        width: 90%;
    }
    .achieve__info:nth-child(n + 2) {
        border: unset;
        border-top: solid var(--color-white);
    }
}

/* MOTIVATION CARDS */
.motivation {
    background-color: var(--color-white-opacity50);
    overflow: hidden;
}
.motivation__content {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 3rem 0;
    transition: transform 2s ease-in-out 0s;
}
.motivation__card {
    width: 40%;
    padding: 3rem 0;
    background: linear-gradient(transparent 30%, var(--color-primary) 30%) no-repeat;
}

.motivationCard__img {
    width: 80%;
    margin: 0 auto;
}
.motivationCard__title {
    margin: 10% 0;
    text-align: center;
}
@media (max-width: 768px) {
    .motivation__content {
        flex-direction: column;
        align-items: center;
    }
    .motivation__card {
        width: 95%;
    }
}
@media (max-width: 500px) {
    .motivationCard__title {
        font-size: 3.2rem;
    }
}

.motivation__card-right {
    background: linear-gradient(var(--color-secondary) 70%, transparent 70%) no-repeat;
}

.motivationCard__title-right {
    color: var(--color-primary);
}

/* FOOTER */
.footer {
    font-family: var(--font-secondary);
    color: var(--color-white);
    background-color: var(--color-secondary);
    border-top: solid 2rem var(--color-grey);
}
.footer__info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 3rem 0;
}
.footer__links {
    width: 30%;
    line-height: 2;
}
.footer__links a:hover {
    color: var(--color-primary);
}
.footer__links:nth-child(2) {
    border-left: solid 3px var(--color-white);
    border-right: solid 3px var(--color-white);
}
.footer__copy {
    width: 90%;
    margin: 0 auto;
    border-top: solid 3px var(--color-white);
    padding: 2rem 0;
    text-align: center;
}

@media (max-width: 768px) {
    .footer__info {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .footer__links {
        width: unset;
    }
    .footer__links:nth-child(2) {
        border: unset;
    }
}

/* UTILITIES */
.font-size-36 {
    font-size: 3.6rem;
}
.color-white {
    color: var(--color-white);
}
.bg-white {
    background-color: var(--color-white);
}
.display-none {
    display: none;
}
.slide__out {
    transform: translateY(-200%);
}
.slide__in {
    transform: translateY(200%);
}
@media (max-width: 768px) {
    .slide__out {
        transform: translateX(-120%);
    }
    .slide__in {
        transform: translateX(200%);
    }
}

/* PROJECTS */
.pageTitle {
    padding-top: 3rem;
    color: var(--color-secondary);
    background-color: var(--color-primary);
    text-align: center;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    box-shadow: 0 0 1rem var(--color-secondary);
}
@media (max-width: 500px) {
    .pageTitle {
        border-bottom-left-radius: 20%;
        border-bottom-right-radius: 20%;
    }
}

.project__box {
    /* background-color: var(--color-white); */
    background: linear-gradient(transparent 20%, var(--color-primary) 20% 100%) right bottom / 90% 100%;
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 3rem;
    width: 95%;
}
.project__imgBox {
    width: 40%;
    padding: 2rem 0 2rem 2rem;
}
.project__img {
    width: 100%;
    box-shadow: 0 0 3rem var(--color-secondary);
}
.project__title {
    padding: 1rem 1rem 1rem 0;
}
.project__info {
    width: 60%;
    padding: 9rem 1rem 0rem 2rem;
    line-height: 1.4;
    font-size: 2.2rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.project__info p,
ul {
    margin-bottom: 2rem;
    font-family: var(--font-secondary);
}
.project__info ul > li {
    list-style: inside;
}

@media (max-width: 768px) {
    .project__box {
        flex-direction: column;
        align-items: center;
        background: linear-gradient(transparent 20%, var(--color-primary) 20% 100%);
    }
    .project__imgBox {
        width: 95%;
        padding: 0;
    }
    .project__info {
        padding: 2rem;
        width: 100%;
    }
}
